
@font-face {
    font-family: "Inv-MaisonNeue-Book";
    src: url("assets/fonts/Inv-MaisonNeue-Book.woff2") format("woff"),
}

@font-face {
    font-family: "Inv-MaisonNeue-Medium";
    src: url("assets/fonts/Inv-MaisonNeue-Medium.woff2") format("woff"),
}

@font-face {
    font-family: "Inv-MaisonNeue-Demi";
    src: url("assets/fonts/Inv-MaisonNeue-Demi.woff2") format("woff");
}
@font-face {
    font-family: "ProximaNova";
    src: url("assets/fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SFProText-Medium";
    src: url("assets/fonts/SFProText-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "SFProText-Regular";
    src: url("assets/fonts/SFProText-Regular.ttf") format("truetype");
}