<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title></title>

	<!-- open graph specification if anyone shares -->
  <meta property="og:title" content="Zoznam odberových miest na celoplošné testovanie" />
  <meta property="og:image" content="<%= BASE_URL %>test_sars-cov-2.jpeg" />
  <meta property="og:description" content="Čas strávený v radoch môžeme využiť zmysluplnejšie. Objednávajme sa v čase a na mieste ktoré mi vyhovuje a zistiť výsledky online. Len na najlepších miestach Slovenska."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= BASE_URL %>"/>
  <meta property="fb:app_id" content="1992580274398303" />    
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="<%= BASE_URL %>"/>
  <meta name="twitter:image" content="<%= BASE_URL %>test_sars-cov-2.jpeg"/>
  <meta name="twitter:title" content="Zoznam odberových miest na celoplošné testovanie" />
  <meta name="twitter:description" content="Čas strávený v radoch môžeme využiť zmysluplnejšie. Objednávajme sa v čase a na mieste ktoré mi vyhovuje a zistiť výsledky online. Len na najlepších miestach Slovenska."/>

</head>

<body>
  <noscript>
    <strong>We're sorry but website doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
