// Variables

$spacer-lg: 3rem;
$spacer-sm: 1.5rem;

$layout-spacer-lg: 3rem;
$layout-spacer-x: 1.5rem;

$app-navbar-width: 60px;
$app-navbar-width-collapsed: 60px;

$app-sidebar-width: 350px;

$logo-height: 21px;
$logo-width: 98px;

$app-header-height: 0;